/* picoblog */
.picopost{
	max-width: 75% !important;
	display: block;
	margin: 1% auto;
	/*/padding: 1%;*/
	border: solid 1px #e5e5e5;
}
.picopostheader{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	background-color: #e5e5e5;
	color: black;
	padding: 1%;
}
.picopostasset>*{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.picopostbody{
	padding: 0 1% 0 1%;
}
.picopostfooter{
	display: flex;
	justify-content: space-between;
	background-color: #e5e5e5;
	color: black;
	padding: 1%;
}
.picoposttags>*{
}
.tagpage{
}

@media(prefers-color-scheme: dark){
	.picopost{
		max-width: 75% !important;
		display: block;
		margin: 1% auto;
		/*/padding: 1%;*/
		border: solid 1px #7f7f7f;
	}
	.picopostheader{
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		background-color: #7f7f7f;
		color: white;
		padding: 1%;
	}
	.picopostasset>*{
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.picopostbody{
		padding: 0 1% 0 1%;
	}
	.picopostfooter{
		display: flex;
		justify-content: space-between;
		background-color: #7f7f7f;
		color: white;
		padding: 1%;
	}
	.picoposttags>*{
	}
	.tagpage{
	}
	.picopostlink{
		color: #0000ee;
	}
}

@media(prefers-color-scheme: light){
	.picopost{
		max-width: 75% !important;
		display: block;
		margin: 1% auto;
		/*/padding: 1%;*/
		border: solid 1px #e5e5e5;
	}
	.picopostheader{
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		background-color: #e5e5e5;
		color: black;
		padding: 1%;
	}
	.picopostasset>*{
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.picopostbody{
		padding: 0 1% 0 1%;
	}
	.picopostfooter{
		display: flex;
		justify-content: space-between;
		background-color: #e5e5e5;
		color: black;
		padding: 1%;
	}
	.picoposttags>*{
	}
	.tagpage{
	}
}
