</div>
<hr>
<div class="row">
	<div class="col-12 footer">
		<small> If this website has been useful or interesting to you, consider leaving a donation with <img class="badge" src="/assets/images/badges/xmr-smallest.png"> Monero: </small><br>
		<small style="color: #F16822; overflow-wrap: anywhere;">86MhLkDofbCNqtk8daRfM4N6yXqLXyv6taZDejpK9uTYXSfZbyjoxbwGX21JrQbY754gxfiMbwV3qXbWvCyZ2bJBUnA37hx</small><br>

		<small> or (less preferably) with <img class="badge" src="/assets/images/badges/btc-smallest.png"> Bitcoin: </small><br>
		<small style="overflow-wrap: anywhere; color: #FF9900; ">bc1qapwjaen8w252r04wm8fr7wgcvexvdm2tmp5zaz</small>
	</div>
	<div class="col-12 footer">
		<small> All content is licensed as <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> unless otherwise specified.</small>
	</div>
	<div class="col-12 footer">
		<img class="badge" alt="anybrowser" src="/assets/images/badges/anybrowser.png"> |
		<img class="badge" alt="openbsd" src="/assets/images/badges/openbsd_copy2.png">
	</div>
	<div class="col-12 footer">
		<figure>
			<a href="https://0x19.org/lainring"><img class="badge" alt="0x19 - Bring back the joy of computing" src="/assets/images/banner.png"></a>
		<figcaption> Thanks lainanon! </figcaption>
		</figure>
	</div>
</div>
<!-- js here -->
</body>
</html>
