  </head>

  <body>
    <nav>
      | <a class="navtitle" href="/index.php">Home</a> | 
      <a class="navlink" href="/about.php">About</a> | 
      <a class="navlink" href="/portfolio.php">Portfolio</a> | 
      <a class="navlink" href="/posts/">Posts</a> | 
      <a class="navlink" href="/picoblog/">Picoblog</a> | 
      <a class="navlink" href="/resources.php">Resources</a> | 
      <!--<a class="navlink" href="/gaming.php">Gaming</a> | -->
      <a class="navlink" href="/contact.php">Contact</a> |
    </nav>
    <hr>
    <div class="content">
